body {
  margin: 0;
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: #2b3541;
  color: white;
  height: 100vh;
  font-family: "Roboto", "Courier New", Courier, monospace;
}
.header {
  width: 100%;
}
.header img {
  width: 150px;
}
.left-bar {
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 100%;
  border-right: 1px solid rgb(112, 109, 109);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: #2b3541;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.search svg {
  margin-left: 15px;
}
.left-bar nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  align-self: flex-start;
}
nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 80px;
  width: 100%;
}
.menu-text {
  font-size: 22px;
}
.menu-icon {
  padding-right: 20px;
}
.settings {
  margin-top: 50px;
}
.right-content {
  display: grid;
  height: 100%;
  grid-template-rows: 8% 92%;
}
.notifications-avatar > * {
  padding-right: 15px;
}
.notifications-avatar img,
.avatar img {
  width: 30px;
}
.content-header {
  display: grid;
  grid-template-columns: 80% 20%;
  border-bottom: 1px solid rgb(112, 109, 109);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.notifications-avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.notifications-avatar > svg {
  color: white;
}
.search input {
  width: 90%;
  background-color: transparent;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(112, 109, 109);
  padding-left: 15px;
  color: white;
}
.content {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #232a33;
}
.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 30px;
}
.left-side-content > h3 {
  padding: 20px 0 20px 40px;
}
.card {
  background-color: #2b3541;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: flex-start;
  border: 1px solid rgb(112, 109, 109);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0;
}
.card-container {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: flex-start;
}
.card-container > h3,
.card-container > p {
  margin: 10px;
  margin-left: 25px;
}
.announcements > h3,
.right-side-content > h3 {
  padding: 10px 0 0 20px;
}
.announcement-card {
  background-color: #2b3541;
  padding: 5px 5px;
  margin: 15px 15px;
  border-radius: 15px;
  border: 1px solid rgb(112, 109, 109);
}
.announcement-card > h4 {
  margin: 10px 0 0 10px;
  font-size: 14px;
}
.announcement-card > p {
  margin: 10px 0 10px 10px;
  font-size: 12px;
}
.icons {
  align-self: flex-end;
  padding-right: 20px;
}
.right-side-content {
  border-left: 1px solid rgb(112, 109, 109);
}
.trending-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin: 25px 0px;
}
.trending-card .avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.trending-card .avatar img {
  width: 40px;
}
.avatar {
  width: 30%;
}
.text-card {
  width: 70%;
}
.text-card p {
  margin: 0;
}
.trending {
  background-color: #2b3541;
  margin: 15px 15px;
  border-radius: 15px;
  border: 1px solid rgb(112, 109, 109);
}
.icons svg {
  color: white;
}
